body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #f5f5f5, #D3D3D3);
}

header {
    display: flex;
    font-size: 0.9em;
    font-weight: bolder;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    background: #0e273f;
    color: #ffffff;
    border-radius: 0 0 2px 2px;
    border-bottom: 2px solid #0c1b2b;
    box-shadow: 0 2px 4px #1a45a8;
}

footer {
    text-align: center;
    align-items: center;
    max-width: 1200px;
    justify-content: space-between;
    padding: 10px 20px;
    color: #D3D3D3;
    border-bottom: 2px solid #0c1b2b;
    margin: 0px auto;
    border-radius: 6px;
    background: #0e273f;
    box-shadow: 0 2px 4px #1a45a8;
}

.name {
    font-size: 2.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #D3D3D3;
    margin: 0;
}

.logo {
    max-width: 120px;
    margin: 0;

}

nav {
    margin-left: auto; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
ul {
    list-style: none;
    text-align: left;
}
nav ul li {
    margin: 0 20px;
    text-align: left;
}

nav ul li a {
    text-decoration: none;
    color: #D3D3D3;
    font-size: 1.2em;
    font-weight: 500;
    transition: color 0.3s, text-shadow 0.3s;
}

nav ul li a:hover {
    color: #A87D1A;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
nav ul li a.active {
    color: #cccac6;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

main {
    text-align: left;
    max-width: 1200px;
    margin: 10px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    box-shadow: 0 2px 4px #3d5792;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.6em;
}
h2 {
    color: #444; 
    text-align: left;
    margin-bottom: 20px;
    font-size: 1.2em;
}

p {
    line-height: 1.6;
    color: #555;
}
li{
    line-height: 1.6;
    color: #555;
    text-align: -webkit-center;
}
li strong{
    line-height: 1.6;
    color: #333;
    text-align: -webkit-center;
}
a {
    color: #A87D1A;;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #A87D1A;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

#demo {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    margin: 4px 0;
}

.demo-button-container {
    align-content: center;
    align-items: center;
    align-self: center;
}

.demo-button {
    display: inline-block;
    padding: 2px 8px;
    font-size: 1.1em;
    font-weight: bold;
    color: #f2eded;
    background-color: #A87D1A;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.demo-button:hover {
    background-color: #A87D1A;
    transform: scale(1.05);
    color: #ffffff;
}

.embedded-video{
display: flex;
width: 100%;
justify-content: center;
}

#practitioner-insights {
    max-width: 1200px;
    margin: 0 auto;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.05);
}
.card:hover h3 {
    color: #A87D1A;
}
.card h3 {
    margin-top: 0;
    color: #333;
}
.card p {
    color: #555;
    text-align: -webkit-center;
}