.navbar{
    padding: 1px;
    min-height: 35px;

  }
  #brand-logo{
    height: 50px
  }
  #img-logo{
    height: 90px
  }
  .body {
    background-color: #1b44ae; /* Set the background color to blue */
    display: flex;
    justify-content: space-around;

    align-items: center;
    height: 100vh; /* Make the body full height of the viewport */
    margin: 0;
    flex-direction: column;
    border: 2px solid #2F4154;
    border-radius: 6px;
    font-family: arial, helvetica, sans-serif;
  }
  .container {
    background-color: white;
    padding: 20px;
    max-width: 50vw;
    min-height: 40vh;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    
  }
  .form-group {
    margin-bottom: 20px;
  }
