<div>
  <br>
  <button class="add_photo" (click)="onAddComment()">Add Graph</button>
  <div class="form-group">
    <input type="text" id="comment_header" name="comment_header" class="form-control" placeholder="Comment Header" [(ngModel)]="comment_header">
  </div>
  <div class="form-group">
    <textarea  type="text" id="comment" name="comment" class="form-control" placeholder="Comment..." [(ngModel)]="comment"></textarea>
  </div>
  <button class="my-button" (click)="onAddComment()">Submit</button>
  



</div>