<!-- Modal legend -->
<div class="modal-header">
  <div class="modal-title va-heading1 text-center">Legend</div>
  <div>
    <button #closeBtn type="button" class="btn-close" data-dismiss="modal" aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"></button>
  </div>
</div>
<div class="modal-body text-center">
  <div class="legend-container">
    <div class="legend-item1">
      <div class="va-heading1">Nodes</div>
      <img src="assets/img/legend/nodes.svg" title="Node types">
    
    </div>
    <div class="legend-item2">
      <div class="va-heading1">Edges</div>
      <img src="assets/img/legend/edges.svg" title="Edge types">
    </div>
  </div>
</div>