.btn-close{
  float: right;
}
.draggable-content {
  z-index: 1001 !important;
  position: absolute;
  background: rgba(255, 255, 255, 0.90) !important;
  white-space: pre-wrap;
  border: 2px solid #555555;
  border-radius: 5px;
  overflow: hidden;
  min-width: 150px;
  top:60vh;
  
  right: 25vw;
}
.modal-header{
  display: block;
}

  .dd-item {
    padding: 0.37rem !important;
  }
  
  .flex{
    margin-top: 1rem;
    align-items: center !important;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .checkBox{
    display: flex;
    align-items: center !important;
  }
  .flex-pr{
    margin-top: 1rem;
    align-items: center !important;
    display: flex;
  }
  .comment-header{
    height: 2rem !important;
  }

  .comment-body{
    min-height: 8rem !important;
  }

  img {
    margin: 2% 0;
    border-radius: 0.375rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    width: 100%;
  }