<div>
  <div>

    <div class="flex">
      <div class="panel" *ngIf="commentInput.addAnomaly">
        <div class="subpanel-heading collapsed px-1" data-bs-toggle="collapse" data-bs-target="#types2consider"
          aria-expanded="false">
          <span class="panel-title accordion-toggle"><span class="va-heading3">Anomalies</span></span>
        </div>
        <div id="types2consider" class="collapse">
          <div class="va-text" *ngFor="let setting of anomalies; let i = index;">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" [(ngModel)]="setting.isEnable" [id]="'anomalies' + i"
                (change)="settingChanged(setting.isEnable)">
              <label class="form-check-label" [for]="'anomalies' + i">{{setting.text}}</label>
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let item of addMenu; let i = index" class=" form-check va-text checkBox">
        <div class="flex-2">
          <label>
            <input type="checkbox" class="form-check-input ng-valid ng-dirty ng-touched" [checked]="item.value"
              (change)="onCheckboxChange(item)">
            {{ item.label }}
          </label>
        </div>
      </div>
      <div>
        <input class="btn btn-sm btn-dark va-text m-2 center" type="button" (click)="performSelection()" value="Add">
      </div>
    </div>
    <!--
    <div *ngIf="(commentInput.addAnomaly && anomalyModal)" class="draggable-content">
      <div #DragHandle style="cursor: move;" class="modal-header">
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"
          (click)="closeClicked()"></button>
        <div class="va-text" *ngFor="let setting of anomalies; let i = index;">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" [(ngModel)]="setting.isEnable" [id]="'anomalies' + i"
              (change)="settingChanged(setting.isEnable)">
            <label class="form-check-label" [for]="'anomalies' + i">{{setting.text}}</label>
          </div>
        </div>
      </div>
    </div>
    -->
    <div *ngIf="commentInput.addGithub">
      <div class="form-group flex-pr d-flex align-items-center justify-content-center va-text">
        Pull Request
        <select ngModel name="option" class="form-select tight-select filter-form va-small-text m-2" id="selectAction"
          [(ngModel)]="pr_name">
          <option *ngFor="let op of prs" [value]="op">
            #{{ op }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group flex">
      <input type="text" id="commenst_header" name="comment_header" class="form-control va-text comment-header"
        placeholder="Comment Header" [(ngModel)]="comment_header">
    </div>
    <div class="form-group flex">
      <textarea type="text" id="comment" name="comment" class="form-control va-text comment-body"
        placeholder="Comment..." [(ngModel)]="comment"></textarea>
    </div>
  </div>

  <div *ngIf="dataURL != '' ">
    <img src="{{ dataURL}} " />
  </div>


  <input class="btn btn-sm btn-dark va-text m-2 center" type="button" (click)="onAddComment()" value="Submit">

</div>