
  
  .dd-item {
    padding: 0.37rem !important;
  }
  
  .flex{
    margin-top: 1rem;
    align-items: center !important;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .checkBox{
    display: flex;
    align-items: center !important;
  }
  .flex-pr{
    margin-top: 1rem;
    align-items: center !important;
    display: flex;
  }
  .comment-header{
    height: 2rem !important;
  }

  .comment-body{
    min-height: 8rem !important;
  }

  img {
    margin: 2% 0;
    border-radius: 0.375rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    width: 100%;
  }