
.statistics-row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 1vh;
    width: 80%;
    margin-left: 20%;
}
.statistic {
    width: 50%;
    text-align: left;
}